[Account]
host=imap.gmail.com
port=993
username=mailinglist.archive
password=secret
list=mailinglist@googlegroups.com

[Outgoing]
host=smtp.gmail.com
port=587
username=mailinglist.archive
password=secret
email=mailinglist.owner@gmail.com

[Limits]
start_hour=8
count=3
warned_file=warned.p
warning_file=warning.eml
report_addresses=['mailinglist.owner@gmail.com']
report_file=report.eml

[Exceptions]
#whitelist_file=whitelist.txt
#blacklist_file=blacklist.txt

[Logging]
# DEBUG | INFO | WARNING
log_level=DEBUG
log_file=limit.log
